<% provide(:title, "Profile") %>

<% #id_num = @user.id %>

<div class="jumbotron-fluid">
  <div class="container">
    <h1><%= @user.email %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 center">
      <h3> <%= link_to "Overall Ranking", user_path, {style: "color:black"}%> </h3>
    </div>
    <% if @display_resp %>
      <div class="col-md-6 center">
        <h3> <%= "#{@display_resp_name.first.value} #{@display_resp_name.second.value}" %> </h3>
      </div>
      <div class="col-md-3">
        <h3> Reviews </h3>
      </div>
    <% else %>
      <div class="col-md-9 center">
        <h3> Submissions </h3>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-3 center">
      <% if @forms.empty? %>
        <p> You don't have any forms associated with your account.</p>
      <% else %>
        <% n = 1 %>
        <% @responses.each do |response| %>
          <% name_array = response.response_properties.find_by(key_num: "Field2100").response_subproperties %>
          <% response_num = response.id %>
          <h4><%= link_to "#{n}: #{name_array.first.value} #{name_array.second.value}", user_submission_path(response_num) %></h4>
          <span>Raw rating: <%= response.rating %></span>
          <% n+=1 %>
          <hr>
        <% end %>
      <% end %>
    </div>
    <% if @display_resp %>
      <div class="col-md-6">
        <% @display_resp_fields.each do |field| %>
          <h4><%= field.key %></h4>
          <% field.response_subproperties.each do |subfield| %>
            <!-- Excludes labels w/o values  -->
            <% unless subfield.value.blank? %>
              <!-- Print value label, when labels add context -->
              <% unless ((field.response_subproperties.size == 1) ||
                         (subfield.value == subfield.subkey))%>
                <h5 style="display:inline"><%= subfield.subkey + ": " %></h5>
              <% end %>
              <!-- Print value, with added formatting for dates -->
              <% if (field.key.include? "Date") %>
                <span><%= subfield.value[4...6] + "-" + subfield.value[6...8] + "-" + subfield.value[0...4] %></span>
              <% elsif !!subfield.url%>
                <span><%= link_to "#{subfield.value}", subfield.url %></span>
              <% else %>
                <span><%= subfield.value %></span>
              <% end %>
              <p></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <% @response_reviews.each do |resp_rev| %>
          <% if (resp_rev.response1_id == @display_resp.id && resp_rev.overall == 1) %>
            <h4 style="display:inline"> Won </h4>
            <% name_array = Response.find(resp_rev.response2_id).response_properties.find_by(key_num: "Field2100").response_subproperties %>
            <% response_num = resp_rev.id %>
            <span>vs. <%= link_to "#{name_array.first.value} #{name_array.second.value}", user_submission_path(response_num) %></span>
            <p>Reviewed by reviewer <%= resp_rev.user_id %></p>
            <hr>
          <% elsif (resp_rev.response2_id == @display_resp.id && resp_rev.overall == 2) %>
            <h4 style="display:inline"> Won </h4>
            <% name_array = Response.find(resp_rev.response1_id).response_properties.find_by(key_num: "Field2100").response_subproperties %>
            <% response_num = resp_rev.id %>
            <span>vs. <%= link_to "#{name_array.first.value} #{name_array.second.value}", user_submission_path(response_num) %></span>
            <p>Reviewed by reviewer <%= resp_rev.user_id %></p>
            <hr>
          <% elsif (resp_rev.response1_id == @display_resp.id && resp_rev.overall == 2)%>
            <h4 style="display:inline"> Lost </h4>
            <% name_array = Response.find(resp_rev.response2_id).response_properties.find_by(key_num: "Field2100").response_subproperties %>
            <% response_num = resp_rev.id %>
            <span>vs. <%= link_to "#{name_array.first.value} #{name_array.second.value}", user_submission_path(response_num) %></span>
            <p>Reviewed by reviewer <%= resp_rev.user_id %></p>
            <hr>
          <% else %>
            <h4 style="display:inline"> Lost </h4>
            <% name_array = Response.find(resp_rev.response1_id).response_properties.find_by(key_num: "Field2100").response_subproperties %>
            <% response_num = resp_rev.id %>
            <span>vs. <%= link_to "#{name_array.first.value} #{name_array.second.value}", user_submission_path(response_num) %></span>
            <p>Reviewed by reviewer <%= resp_rev.user_id %></p>
            <hr>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-9 center">
        <p> Graphical representation of ratings and error will go here eventually </p>
      </div>
    <% end %>
  </div>
</div>
