<% provide(:title, "Compare Submissions") %>

<% if(!user_signed_in?) %>
  <span> ERROR: USER NOT SIGNED IN </span>
<% end %>

  <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron-fluid">
  <div class="container">
    <h1>Compare the two submissions below</h1>
    <p>Click the button below after reading both submissions.</p>
  </div>
</div>

<!-- new review -->
<%= render 'layouts/review' %>

<div class="container">
  <!-- Example row of columns -->
  <div class="row button-row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <a class="btn btn-primary btn-lg pref-button" data-toggle="modal" data-target="#new_review"> &laquo; I've made my decision &raquo;</a>
    </div>
  </div>
<!-- display responses -->
  <% @response1_fields.zip(@response2_fields).each do |field1, field2| %>
    <div class="row">
      <div class="col-md-6">
        <h4><%= field1.key %></h4>
        <% field1.response_subproperties.each do |subfield| %>
          <!-- Excludes labels w/o values  -->
          <% unless subfield.value.blank? %>
            <!-- Print value label, when labels add context -->
            <% unless ((field1.response_subproperties.size == 1) ||
                       (subfield.value == subfield.subkey))%>
              <h5 style="display:inline"><%= subfield.subkey + ": " %></h5>
            <% end %>
            <!-- Print value, with added formatting for dates -->
            <% if (field1.key.include? "Date") %>
              <span><%= subfield.value[4...6] + "-" + subfield.value[6...8] + "-" + subfield.value[0...4] %></span>
            <% elsif !!subfield.url%>
              <span><%= link_to "#{subfield.value}", subfield.url %></span>
            <% else %>
              <span><%= subfield.value %></span>
            <% end %>
            <p></p>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><%= field2.key %></h4>
        <% field2.response_subproperties.each do |subfield| %>
          <!-- Excludes labels w/o values  -->
          <% unless subfield.value.blank? %>
            <!-- Print value label, when labels add context -->
            <% unless ((field2.response_subproperties.size == 1) ||
                       (subfield.value == subfield.subkey))%>
              <h5 style="display:inline"><%= subfield.subkey + ": " %></h5>
            <% end %>
            <!-- Print value, with added formatting for dates -->
            <% if (field2.key.include? "Date") %>
              <span><%= subfield.value[4...6] + "-" + subfield.value[6...8] + "-" + subfield.value[0...4] %></span>
            <% elsif !!subfield.url%>
              <span><%= link_to "#{subfield.value}", subfield.url %></span>
            <% else %>
              <span><%= subfield.value %></span>
            <% end %>
            <p></p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %> <!--
    <div class="col-md-6">
      <% @response2_fields.each do |field| %>
        <h4><%= field.key %></h4>
        <% field.response_subproperties.each do |subfield| %>
          <% unless subfield.value.blank? %>
            <% unless ((field.response_subproperties.size == 1) ||
                       (subfield.value == subfield.subkey))%>
              <h5 style="display:inline"><%= subfield.subkey + ": " %></h5>
            <% end %>
            <% unless (field.key == "Date") %>
              <span><%= subfield.value %></span>
            <% else %>
              <span><%= subfield.value[0...4] + "-" + subfield.value[4...6] + "-" + subfield.value[6...8] %></span>
            <% end %>
            <p></p>
          <% end %>
        <% end %>
      <% end %>
    </div>-->
 </div>
  <hr>
</div> <!-- /container -->
<script>
  $(document).ready(function() {
    $("#reset").click(function() {
      $("input").attr('checked',false).val("");
    });
  });
</script>
